.avatarInner {
  display: flex;
  flex-direction: column;
  position: relative;

  img {
    width: 212px;
    height: 212px;
    object-fit: cover;

    margin-bottom: 8px;
  }

  .inputFile {
    display: none;
  }

  label {
    cursor: pointer;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100%;

    &:hover {
      color: #8ce7ff;
    }
  }
}
