.Button {
  font-family: 'Pattaya', sans-serif;
  min-width: 127px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #000;
  font-size: 17px;
  cursor: pointer;
  transition: box-shadow .2s linear;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow:  0 0 5px 2px rgba(255, 255, 255, .3);
  }

  &:active {
    box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, .3);
  }

  &.error {
    background: rgb(240, 85, 72);
    font-size: 25px;
    color: #000;
    width: 45%;
    margin: 15px 0;
  }

  &.success {
    background: rgba(161, 240, 69, 1);
    font-size: 25px;
    color: #000;
    width: 45%;
    margin: 15px 0;
  }

  &.primary {
    background: #F3AD2E;
    color: #fff;
  }

  &.dark {
    font-size: 25px;
    background: #F3AD2E;
    color: #000;
    width: 45%;
    margin: 15px 0;
  }

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}
