.Input {
  margin-bottom: 15px;

  label {
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: 700;
  }

  input {
    display: block;
    box-sizing: border-box;
    font-family: "Pattaya", sans-serif;
    font-size: 15px;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    transition: all .3s ease-in-out;
  }

  span {
    font-family: Arial, sans-serif;
    color: #f01f30;
    font-size: 13px;
    font-weight: 700;
  }

  &.invalid label {
    color: #f01f30;
  }

  &.Profile {
    display: flex;
    background: azure;
    color: #000;
    border-radius: 3px;

    margin-bottom: 0;
    font-weight: 400;
    label {
      font-weight: 400;
      margin: 0;
      color: #000
    }
    input {
      font-size: 24px;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &.Recipe {
    display: flex;
    background: azure;
    color: #000;
    border-radius: 3px;
    width: 90%;
    position: relative;
    padding: 5px 5px 5px 22px;

    margin-left: 50px;
    margin-bottom: 0;
    font-weight: 400;

    label {
      font-weight: 400;
      margin: 0;
      color: #000
    }

    input {
      font-size: 24px;
      background: transparent;
      border: none;
      width: unset;
      margin: 0;
      padding: 0;
    }
    span {
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }

  &.Ingredient {
    background: azure;
    color: #000;
    border-radius: 3px;
    position: relative;
    padding: 5px 5px 5px 22px;
    margin: 0;

    font-weight: 400;
    label {
      margin: 0;
    }
    input {
      font-size: 24px;
      background: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}
