.Confirmation {
  position: fixed;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.91);
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  padding: 30px 57px 40px;
  border-radius: 5px;
  z-index: 90;

  .buttonsContainer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
