.Auth {
  position: fixed;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.91);
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  padding: 30px 57px 40px;
  border-radius: 5px;
  z-index: 90;
}
